{% extends 'news/base.html' %}
{% load static %}

{% block title_block %}
    HomePage
{% endblock %}

{% block body_block %}
    <header>
        <h1>Latest News</h1>
        <p>Welcome to the News Application! Here you can view the latest stories uploaded by our staff!</p>
    </header>

    {% if stories %}

        {% for story in stories %}
            <section class="story">
                <h3 class="heading">{{ story.heading }}</h3>
                <h4 class="publication_date">{{ story.publication_date }}</h4>
                <p class="content">{{ story.content }}</p>
            </section>

            <br />
        {% endfor %}

    {% else %}
        <strong class="heading">There are no stories present!</strong>
    {% endif %}

{% endblock %}
